body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
}
h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
}
a {
    text-decoration: none;
}
p{
    font-size: 16px;
    line-height: 23px;
    margin:0;
    padding:0;
}